/* You can add global styles to this file, and also import other style files */
.uk-form-danger {
    border: 2px solid #ff0000 !important;
}

button:disabled{
    background-color: rgba(0, 0, 0, 0.2) !important;
}