<div class="uk-container">
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active">Disciplinas</li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a [routerLink]="['new']"><span class="uk-icon uk-margin-small-right"
                uk-icon="icon: plus"></span>Adicionar</a></li>
        </ul>
      </div>
    </nav>
  
  <table class="uk-table uk-table-divider uk-table-stripped uk-table-hover">
    <thead>
      <tr>
        <th class="uk-table-shrink uk-text-center">Código</th>
        <th class="uk-table-expand uk-text-center">Descrição</th>
        <th class="uk-table-expand uk-text-center">Carga horária da disciplina</th>
      </tr>
    </thead>
    <tbody *ngFor="let disciplina of disciplina$.data">
      <tr>
        <td>{{disciplina.id}}</td>
        <td>{{disciplina.descricao}}</td>
        <td>{{disciplina.carga_horaria_disciplina}}</td>
      <td>
      <a [routerLink]="['edit', disciplina.id]" class="uk-button uk-button-primary uk-button-small"><span
        class="uk-margin-center"></span>Editar</a>
    <a [routerLink]="['delete']" class="uk-button uk-button-danger uk-button-small"><span
        class="uk-margin-center"></span>Excluir</a>
  </td>
</tr>
</tbody>
</table>
</div>