<div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">Profissionais</li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a [routerLink]="['/new']"><span class="uk-icon uk-margin-small-right"
              uk-icon="icon: plus"></span>Adicionar</a></li>
      </ul>
    </div>
  </nav>

  <table class="uk-table uk-table-divider uk-table-stripped uk-table-hover">
    <thead>
      <tr>
        <th class="uk-table-shrink uk-text-center">Código</th>
        <th class="uk-table-expand uk-text-center">Nome</th>
        <th class="uk-table-small uk-text-center">Declaração</th>
      </tr>
    </thead>
    <tbody *ngFor="let profissional of profissional$.data">
      <tr>
        <td>
          {{profissional.id}}
        </td>
        <td>
          {{profissional.nome}}
        </td>
        <td>
          {{profissional.declaracao}}
        </td>
        <td>
          <a [routerLink]="[profissional._id, 'edit']" routerLinkActive="uk-active"
            class="uk-button uk-button-small"><span class="uk-margin-center"></span>
            Editar
          </a>
          <button (click)="delete(profissional._id)" class="uk-button uk-button-small">
            Excluir
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>