<div class="uk-container">
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active">Cursos</li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="#"><span class="uk-icon uk-margin-small-right"
                uk-icon="icon: plus"></span>Adicionar</a></li>
        </ul>
      </div>
    </nav>
  
  <table class="uk-table uk-table-divider uk-table-stripped uk-table-hover">
    <thead>
      <tr>
        <th class="uk-table-shrink uk-text-center">Código</th>
        <th class="uk-table-expand uk-text-center">Descrição</th>
        <th class="uk-table-shrink uk-text-center">Data de início</th>
        <th class="uk-table-expand uk-text-center">Última parcela paga do coordenador</th>
        <th class="uk-table-small uk-text-center">Ativo</th>
      </tr>
    </thead>
    <tbody *ngFor="let curso of curso$.data">
      <tr>
        <td>
          {{curso.id}}
        </td>
        <td>
          {{curso.descricao}}
        </td>
        <td>
          {{curso.data_inicio}}
        </td>
        <td>
          {{curso.ultima_parcela_paga_coordenador}}
        </td>
        <td>
          {{curso.ativo}}
        </td>
      <td>
      <a [routerLink]="['/curso/editar']" class="uk-button uk-button-primary uk-button-small"><span
        class="uk-margin-center"></span>Editar</a>
    <a [routerLink]="['/curso']" class="uk-button uk-button-danger uk-button-small"><span
        class="uk-margin-center"></span>Excluir</a>
  </td>
</tr>
</tbody>
</table>
</div>