<div class="uk-container">
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active">Pagamentos</li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="#"><span class="uk-icon uk-margin-small-right"
                uk-icon="icon: plus"></span>Adicionar</a></li>
        </ul>
      </div>
    </nav>
  
    <table class="uk-table uk-table-divider uk-table-stripped uk-table-hover uk-table-responsive uk-table-middle">
    <thead>
      <tr>
        <th class="uk-table-shrink uk-text-center">Código</th>
        <th class="uk-table-expand uk-text-center">Profissional</th>
        <th class="uk-table-shrink uk-text-center">Curso</th>
        <th class="uk-table-expand uk-text-center">Disciplina</th>
        <th class="uk-table-expand uk-text-center">Mês</th>
        <th class="uk-table-expand uk-text-center">Valor Total</th>
      </tr>
    </thead>
    <tbody *ngFor="let pagamento of pagamento$.data">
      <tr>
        <td>
          {{pagamento.id}}
        </td>
        <td>
         Profissional
        </td>
        <td>
          Curso
        </td>
        <td>
          Disciplina
        </td>
        <td>
            {{pagamento.periodo}}
        </td>
        <td>
          {{pagamento.valor_total}}
        </td>
        <td>
          <a [routerLink]="['/pagamento/editar']" class="uk-button uk-button-small uk-button-primary"><span
            class="uk-margin-center"></span>Editar</a>
          <a [routerLink]="['/pagamento']" class="uk-button uk-button-small uk-button-danger"><span class="uk-margin-center"></span>Excluir</a>
          <a [routerLink]="['/pagamento/consultar']" class="uk-button uk-button-small uk-button-default"><span
          class="uk-margin-center"></span>Consultar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  