<div class="uk-container">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">dasdasdasdasdas</li>
            </ul>
        </div>
    </nav>
    <br>

<!--Curso
    Turmas
        Disciplina
            CH
                Professor
          
                

                select *from professor;
                select *from disciplina where ;-->




    <form [formGroup]="turmaForm" class="uk-grid-small" uk-grid>       
        <div class="uk-width-1-4@m">
            <input class="uk-input uk-form-small" formControlName="codigo" type="text" placeholder="Codigo:">
        </div>
        <div class="uk-width-1-6@m">
            <input class="uk-input uk-form-small" formControlName="curso" type="curso"
                placeholder="Curso:">
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-select">Select</label>
            <div class="uk-form-controls">
                <select class="uk-select" id="form-horizontal-select" formControlName="cursoId">
                    <option *ngFor="let curso of cursos" [value]="curso._id">{{curso.descricao}}</option>                    
                </select>
            </div>        
        </div>        
        <div class="uk-text-right">
            <button [disabled]="submittingForm || turmaForm.invalid" (click)="submitForm()" type="submit" class="uk-button uk-button-default">Cadastrar</button>
        </div>
    </form>
</div>