<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
      <span class="uk-icon" uk-icon="icon: sgp_logo_tela; ratio: 0.7"></span>
    </p>

    <app-loading *ngIf="busy"></app-loading>

    <form [formGroup]="form" *ngIf="!busy">
      <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small">
        <h3 class="uk-card-title">Restauração de Senha</h3>
        <div class="uk-margin">
          <input class="uk-input uk-form-large" formControlName="document" type="text" placeholder="CPF"
            mask="###.###.###-##"
            [ngClass]="{'uk-form-danger': (!form.controls.document.valid && !form.controls.document.pristine) }">
        </div>
        <div class="uk-margin uk-text-right">
          <button class="uk-button uk-button-default" [disabled]="form.invalid" (click)="submit()">Restaurar</button>
        </div>
      </div>
    </form>

    <p class="uk-text-center" *ngIf="!busy">
      <a [routerLink]="['/login']" class="uk-button uk-button-link">Cancelar</a>
    </p>
  </div>
</div>