<div class="uk-container">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active">Turmas</li>
      </ul>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><a [routerLink]="['new']"><span class="uk-icon uk-margin-small-right"
              uk-icon="icon: plus"></span>Adicionar</a></li>
      </ul>
    </div>
  </nav>

  <table class="uk-table uk-table-striped uk-table-hover">
    <thead>
      <tr>
        <th class="uk-table-shrink">ID</th>
        <th class="uk-table-shrink">Código</th>
        <th class="uk-table-shrink">Curso</th>
        <th class="uk-table-shrink">Ações</th>
      </tr>
    </thead>
    <tbody *ngFor="let turma of turma$.data">
      <tr>
        <td>
          {{turma.id}}
        </td>
        <td>
          {{turma.codigo}}
        </td>
        <td>{{turma.curso.descricao}}</td>
        <td>
          <a [routerLink]="['edit']" class="uk-button uk-button-primary uk-button-small"><span
              class="uk-margin-center"></span>Editar</a>
          <a [routerLink]="['delete']" class="uk-button uk-button-danger uk-button-small"><span
              class="uk-margin-center"></span>Excluir</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>