<div class="uk-container">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><h1><span class="uk-text-large">Disciplinas</span></h1></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active">
                <a [routerLink]="['get']"><span class="uk-icon uk-margin-small-right"
                        uk-icon="icon: arrow-left"></span>Voltar</a></li>   
            </ul>
        </div>
    </nav>

    <div [formGroup]="disciplinaForm" (submit)="submittingForm">
        <div class="uk-margin uk-grid">
            <div class="uk-width-1-5">Nome da Disciplina</div>
            <div class="uk-width-2-5">
                <input class="uk-input" id="descricao" formControlName="descricao" type="text" placeholder="Nome da disciplina">
            </div>
        </div>

        <div class="uk-margin uk-grid">
            <div class="uk-width-1-5">Carga Horária Total</div>
            <div class="uk-width-2-5">
                <input class="uk-input" id="carga_horaria_disciplina" formControlName="carga_horaria_disciplina" type="text" placeholder="Carga Horária">
            </div>
        </div>

        <div class="uk-margin uk-grid">
            <label class="uk-width-1-5"></label>
            <div class="uk-width-4-5">
                <div class="uk-margin uk-text-right">
                    <button class="uk-button uk-button-default"
                        type="submit">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>