<div class="uk-container">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li class="uk-active">{{pageTitle}}</li>
            </ul>
        </div>
    </nav>
    <br>
    <form [formGroup]="profissionalForm" (submit)="submitForm()" class="uk-grid-small" uk-grid>

        <div class="uk-width-1-2@s uk-margin">
            <input class="uk-input uk-form-small" formControlName="nome" type="text" placeholder="Nome:">
        </div>
        <div class="uk-width-1-4@m">
            <input class="uk-input uk-form-small" formControlName="rg" type="text" placeholder="RG:">
        </div>
        <div class="uk-width-1-6@m">
            <input class="uk-input uk-form-small" formControlName="orgao_expedidor" type="text"
                placeholder="Orgao Expedidor:">
        </div>
        <div class="uk-width-1-6@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="uf" type="text" placeholder="UF:">
        </div>
        <div class="uk-width-1-4@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="cpf" type="cpf" placeholder="CPF:">
        </div>

        <div class="uk-width-1-4@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="pis" type="number" placeholder="PIS:">
        </div>

        <div class="uk-width-1-4@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="banco" type="text" placeholder="Banco:">
        </div>

        <div class="uk-width-1-6@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="agencia" type="text" placeholder="Agência:">
        </div>

        <div class="uk-width-1-5@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="conta" type="number" placeholder="Conta:">
        </div>

        <div class="uk-width-1-4@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="endereco" type="text" placeholder="Rua:">
        </div>

        <div class="uk-width-1-4@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="bairro" type="text" placeholder="Bairro:">
        </div>

        <div class="uk-width-1-4@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="cidade" type="text" placeholder="Cidade:">
        </div>

        <div class="uk-width-1-4@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="estado" type="text" placeholder="Estado:">
        </div>

        <div class="uk-width-1-4@m uk-margin">
            <input class="uk-input uk-form-small" formControlName="cep" type="number" placeholder="CEP:">
        </div>

        <div class="uk-width-1-4@m uk-margin uk-margin">
            <input class="uk-input uk-form-small" formControlName="telefone" type="number" placeholder="Telefone:">
        </div>

        <div class="uk-width-1-4@m uk-margin uk-margin">
            <input class="uk-input uk-form-small" formControlName="data_nascimento" type="date"
                placeholder="Data de nascimento:">
        </div>

        <div class="uk-width-1-4@m uk-margin uk-margin">
            <input class="uk-input uk-form-small" formControlName="cargo" type="text" placeholder="Cargo:">
        </div>
        <div class="uk-margin uk-text-right">
            <button [disabled]="submittingForm || profissionalForm.invalid" type="submit" class="uk-button uk-button-default">Cadastrar</button>
        </div>
    </form>
</div>