<div class="uk-background-primary uk-light">
    <div class="uk-container">
      <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo" href="/">
            <span class="uk-icon uk-margin-small-right" uk-icon="icon: sgi_logo2; ratio: 0.15"></span>
          </a>
          <ul class="uk-navbar-nav">
            <li><a [routerLink]="['/']" routerLinkActive="active-link">Profissional</a></li>
            <li><a [routerLink] = "['/account/pagamento']" routerLinkActive="uk-text-bold">Pagamentos</a></li>
            <li><a [routerLink] = "['/account/turma']" routerLinkActive="uk-text-bold">Turma</a></li>
            <li><a [routerLink] = "['/account/curso']" routerLinkActive="uk-text-bold">Curso</a></li>
            <li><a [routerLink] = "['/account/disciplina']" routerLinkActive="uk-text-bold">Disciplina</a></li>
            <li><a [routerLink] = "['/relatorio']" routerLinkActive="uk-text-bold">Relatórios</a></li>
          </ul>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">           
            <li>
              <a [routerLink]="['/account']">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: user"></span>
                {{ user?.name }}
              </a>
            </li>
            <li>
              <a (click)="logout()">
                <span class="uk-icon uk-margin-small-right" uk-icon="icon: sign-out"></span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>